@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
}
.sidebar {
  height: 100% !important; /* This will make the sidebar take up 100% of the viewport height */
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.home{
  color: aliceblue;
}

/* events.css */

/* Style for the event cards */
.event-card {
  background-color: #e4f0f3; /* Set your desired background color here */
  border: 1px solid #e6e6e6; /* Add a border for better separation */
  padding: 10px;
  margin: 10px;
  border-radius: 5px; /* Add rounded corners */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  width: 100vh; /* Set a fixed width for the event card */
  height: 200px; /* Set a fixed height for the event card */
  display: inline-block; /* Make the cards appear in a row */
  vertical-align: top; /* Align cards at the top in a row */
}

/* Style for the "See Details" button */
.event-card button {
  background-color: #072f40; /* Set a different color for the button */
  color: white; /* Set text color to white */
  border: none;
  padding: 5px 10px;
  margin-top: 5px;
  cursor: pointer;
}

/* Style for the "See Details" button on hover */
.event-card button:hover {
  background-color: #68d7dd; /* Darken the color on hover */
}

