@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
}
.sidebar {
  height: 100% !important; /* This will make the sidebar take up 100% of the viewport height */
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.home{
  color: aliceblue;
}

/* events.css */

/* Style for the event cards */
.event-card {
  background-color: #e4f0f3; /* Set your desired background color here */
  border: 1px solid #e6e6e6; /* Add a border for better separation */
  padding: 10px;
  margin: 10px;
  border-radius: 5px; /* Add rounded corners */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  width: 100vh; /* Set a fixed width for the event card */
  height: 200px; /* Set a fixed height for the event card */
  display: inline-block; /* Make the cards appear in a row */
  vertical-align: top; /* Align cards at the top in a row */
}

/* Style for the "See Details" button */
.event-card button {
  background-color: #072f40; /* Set a different color for the button */
  color: white; /* Set text color to white */
  border: none;
  padding: 5px 10px;
  margin-top: 5px;
  cursor: pointer;
}

/* Style for the "See Details" button on hover */
.event-card button:hover {
  background-color: #68d7dd; /* Darken the color on hover */
}



.id-column-header {
  /* Adjust the width as needed */
  min-width: 100px; /* Minimum width */
  max-width: 200px; /* Maximum width */
  width: 150px; /* Initial width */
}



/* LOGIN PAGE  */

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.logimg{
  max-height: 82vh;
}

.login-container {
  flex: 1; /* This allows the form to grow and occupy the space */
  max-width: 400px; /* Limits the width of the form */
  padding: 20px; /* Adds some padding around the form */
  background-color: #0e6399;
  height: 81vh;
}

.login-header h2 {
  margin-bottom: 0.em;
}

.login-header p {
  margin-bottom: 2em;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  margin-bottom: 2em;
  padding: 0.6em;
}


.login-button {
  background-color: #6200ee;
  color: white;
  padding: 1em;
  border: none;
  cursor: pointer;
}



/* AcademyModules.css */
.modules-page h1 {
  margin-left: 10px;
}
.module-container {
  /* Set your desired background color */
  border: 5px solid #a4cedc;
  padding: 16px;
  margin-bottom: 16px;
  width: 90%;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 2vh;
  color: rgb(29, 29, 29) !important; 
  background-color: rgb(255, 255, 255);
 
}

.lessons-container{
border-radius: 5px ;
width: 90%;
}

.lesson-container{
  background-color: #e4f2f4;
}
.lesson-link{
  color: #667cbd;
}

.module-container h2 {
  margin-bottom: 8px;
}

.module-container ul {
  list-style: none;
  padding: 0;
}

.module-container ul li {
  margin-bottom: 4px;
}

.module-button{
  margin-left: 10PX;
}

/*ADD MODULE & LESSON FORMS */
.modal-overlay {
  color: black !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Adjust the z-index to make sure the modal is on top */
}

.modal-content {
  background-color: #fff; /* White background for the modal content */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/* CSS for the lesson container */
.lesson-container2 {
  background-color: #f0f0f0; /* Set your desired background color */
  width: 90%;
  margin-left: 30px;
  padding: 20px; /* Add padding to create a rectangle */
  text-align: center; /* Center-align content horizontally */
  border-radius: 10px; /* Add rounded corners if desired */
}

/* CSS for the lesson title */
.lesson-title2{
  font-size: 24px; /* Set your desired font size */
  margin: 10px 0; /* Add margin to separate the title from the video */
}

/* CSS for the video container */
.video-container {
  background-color: #ffffff; /* Set a different background color for the video container if desired */
  padding: 20px; /* Add padding to create a rectangle for the video */
  margin-top: 20px; /* Add margin to separate the video from the title */
  border-radius: 10px; /* Add rounded corners if desired */
  display: flex;
  justify-content: center;
}

/* CSS for the back button container */
.back-button-container {
  text-align: center; /* Center-align the button */
  margin-top: 20px; /* Add margin to separate the button from the video */
}

/* CSS for the back button */
.back-button {
  background-color: #007bff; /* Set your desired button background color */
  color: #fff; /* Set your desired text color */
  padding: 10px 20px; /* Add padding to the button */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px; /* Set your desired font size */
}

.back-button:hover {
  background-color: #0056b3; /* Change the background color on hover */
}

/* ACADEMY DASHBOARD */
/* AcademyDashboard.css or your preferred CSS file */
.academy-dashboard {
  display: flex; /* Use flex to create two boxes next to each other */
  padding: 5vh;
  text-align: center;
  justify-content: space-around;
  height: 100%;
}

.carousel-container {
  flex: 1; /* Take up 50% of the available space */
  padding: 1px; /* Add some padding */
}

.user-progress {
  flex: 1; /* Take up 50% of the available space */
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.user-progress h1{
  margin-top: 0px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 10px; /* Add margin-bottom to create spacing between legend items */
}
.progress-container{
  display: flex;
  flex-direction: column;
}
.legend-label {
  font-weight: bold;
}
.legend-color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}



.go-to-curriculum-button {
  display: inline-block;
  margin-top: 10px;
  padding: 20px 20px;
  background-color: #2196F3;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 20px;
}


/*CONTACT DETAILS*/
.overlay {
  position: fixed; /* Positioning relative to the viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2; /* Ensure it sits above other content */
}

.contactDetailsModal{
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 3;
  max-width: 600px; /* Adjust based on your content */
  width: 90%; /* Responsive width */
  position: relative;
}
